* {
    margin: 0;
    padding: 0;
   
}

body {
    background: linear-gradient(90deg, rgb(7, 4, 62) 0%, rgba(9,9,121,1) 21%, rgba(9,9,118,1) 21%, rgba(0,212,255,1) 77%);;
}
.flex {
    display: flex;
    justify-content: center;
}
.login-card-cnt {
   
    display: flex;
    justify-content: center;
    
    
  
    
   
    
   
   
}

button:hover {
    cursor: pointer;
}

.nav-hvr:hover {
    cursor: pointer
}


.login-cnt {
    display: grid;
    grid-template-columns: 250px;
    
    
   
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 375px;
    
    text-align: center;
    border-radius: 50%;
    /* box-shadow: rgba(26, 212, 237, 0.35) 0px 5px 15px; */
    box-shadow: rgba(64, 148, 217, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-top: 60px;
    
    

}
.input-cnt {
    display: grid;
    grid-template-columns: 250px;
    grid-gap: 20px;
    
    
    
}


.login-inpt {
    margin: 10px;
}

.login-img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.flwr-cnt {
    height: 300px; 
    width: 150px;
    display: flex; 
    flex-direction: column; 
    border: 5px solid rgba(9,9,118,1); 
    border-radius: 35px; 
    overflow: scroll; 
}

.flwr-pro-pic-cnt {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    margin-top: 30px
}

.detail-cnt {
    display: flex; 
    color: white;
    justify-content: center;
    margin-top: 20px;
}

.detail-img {
    height: 400px; 
    width: 400px; 
    border: 3px solid rgba(9,9,118,1); 
    border-radius: 35px;
}

.detail-bio {
    border: 3px solid rgba(9,9,118,1);
    border-radius: 35px;
    padding: 30px;
    width: 350px;
    text-align: center;
    font-size: 20px;
}

.detail-btn {
    width: 200px;
    padding: 15px;
    border-radius: 35px;
    background: rgba(9,9,118,1);
    color: white;
}

.link {
    text-decoration: none;
}

.header-container { 
    margin-top: 15px;
}

.crte-hdr {
    color: white;
    border: 3px solid rgba(9,9,118,1);
    border-radius: 35px;
    padding: 30px;
    font-size: 40px;
}

.input-cnt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.btn-cnt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-btn {
    padding: 10px;
    width: 400px;
    background: rgba(9,9,118,1);
    color: white;
    border-radius: 35px;
}

.prvw-pic-cnt {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.prvw-cap-cnt {
    display: flex;
    justify-content: center;
}

.prvw-cap {
    border: 3px solid rgba(9,9,118,1);
    color: white;
    border-radius: 35px;
    padding: 20px;
    width: 350px; 
    text-align: center;
    margin-top: 20px;
}

.post-btn-cnt {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    

}

.post-btn {
    color: white;
    text-decoration: none;
    width: 180px;
    margin: 20px;
    border-radius: 35px;
    padding: 10px;
    background-color: rgba(9,9,118,1);

}

.post-btn:hover {
    cursor: pointer;
}



.crte-cmt-img-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    

}

.crte-cmt-img {
    border: 3px solid rgba(9,9,118,1);
    border-radius: 35px;
    height: 250px;
    width: 250px;
}

.crte-cmt-p-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.crte-cmt-p {
    border: 3px solid rgba(9,9,118,1);
    border-radius: 35px;
    padding: 30px;
    color: white;
    width: 450px;
    text-align: center;


}

.cmt-btn-cnt {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cmt-btn {
    padding: 20px;
    width: 250px;
    border-radius: 35px;
    background: rgba(9,9,118,1);
    color: white;
    margin: 20px;

}   

.crte-cmt-cmt {
    color: white;
    padding-top: 10px;
}

.edit-cnt {
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.edit-btn {
    border-radius: 35px;
    padding: 20px;
    margin-top: 10px;
    background: rgba(9,9,118,1);
    color: white
}

.edit-hdr-cnt {
    display: flex;
    justify-content: center;
    
}

.edit-hdr-cnt p {
    text-align: center;
    
    border-radius: 35px;
    padding: 30px;
    width: 200px;
    color: white;
    font-size: 40px;
}

.edit-res-cnt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.edit-res-cnt h4 {
    border: 3px solid rgba(9,9,118,1);
    border-radius: 35px;
    padding: 40px;
}
 .edit-img-cnt {
    display: flex;
    justify-content: center;
 }



 .edit-img {

    height: 300px;
    width: 300px;
    border: 3px solid rgba(9,9,118,1);
    border-radius: 35px;
}

.home-img-cnt {
    display: grid;
    
    grid-template-columns: 300px 300px 300px;
    row-gap: 5px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.home-img {
    border: 3px solid rgba(9,9,118,1);
    border-radius: 35px;
    height: 300px;
    width: 300px;
}

.home-title-cnt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home-title {
    color: white;
    margin-bottom: 40px;
    font-size: 50px;
}